*{
  box-sizing: border-box;
}

/* I used these colors on my portfolio page and liked them and I will use them again.  */
:root {
  --light: #58C0A9;
  --hover: #FFFCEF;
  --canvascolor: #fbfbfb;
  --colortrans: #20A4F3;
  --buttoncolor: #631D76;
  --fontblack: black; 
  --fadefont: darkgray; 
  
}


body {
  background-color: var(--canvascolor);
  color: var(--buttoncolor);
  margin: 0;
  padding: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 75%;
}

header h3 {
  padding-left: 20px;
  font-size: 2.0rem;
  display: inline;
}

#high-scores:hover {
  color: var(--light);
  text-shadow:1px 1px 4px var(--light);
  cursor: pointer;
}

.timer {
  font-size: 2.0rem;
  color: var(--fontblack);
  display: inline;
  text-align: right;
  padding-right: 20px;
}
.container {
  padding: 20px;
  flex-direction: column;
  margin: auto;
  width: 50%;
}
.show{
  display: flex;
}

h1 {
  color: var(--fontblack);
  font-size: 60px;
  font-weight: bolder;
}

p {
  color: var(--fontblack);
  font-size: 2.0rem;
  font-weight: lighter;
}
.btn {
  background: var(--buttoncolor);
  color: var(--hover);
  border-radius: 10px;
  padding: 10px;
  border: none;
  box-shadow: 0 1px gray;
  cursor: pointer;
}

.startquiz {
  margin-top: 15px;
  width: 25%;
}
.hide{
  display: none;
}

.btn:hover {
  background: var(--light);
  border-radius: 10px;
  box-shadow: 0 1px gray;
  cursor: pointer;
}

.btn:active {
  border: none;
  outline: none;
  box-shadow: 0, 0, gray;
}

.btn:focus {
  outline: none;
}

.quizshow {
  align-items: center;
  text-align: center;
}

.quizshow h1, 
.quizshow p {
  text-align: center;
}
.questions {
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
  padding: 20px, 20px;
}

.end h1, .end p{
  text-align: left;
}

.end input {
  outline: thick;
  border-width: 2px;
  padding: 7px;
  width: 25%;
  font-size: 2.0rem;
  border-radius: 5px;
}

.end input:focus{
  border: 2px solid var(--colortrans);
}

.btn-grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 5px;
  margin: 10px, 0;
}

.btn:focus{
  outline: none;
}

#questions {
  color: var(--buttoncolor);
  font-size: 2.5rem;
  text-align: left;
  font-weight: bolder;
}

#high-score {
  text-align: left;
}

.banner {
  text-align: center;
  font-size: 20px;
  color: var(--fadefont);
  font-style: italic;
  margin: 0 100px;
}

.banner h2 {
  border-top: 2px solid var(--fadefont);
  text-align: center;
  padding-top: 5px;
  margin: 0 auto;
}

li:nth-child(odd) {
  background-color: var(--colortrans);
}

li {
  font-size: 1.0rem;
}

.btn high-score {
  margin-top: 15px;
  width: 5%;
}



