*{
  box-sizing: border-box;
}

/* I used these colors on my portfolio page and liked them and I will use them again.  */
:root {
  --light: #58C0A9;
  --hover: #FFFCEF;
  --canvascolor: #fbfbfb;
  --colortrans: #20A4F3;
  --buttoncolor: #631D76;
  --fontblack: black; 
}


body {
  background-color: var(--canvascolor);
  color: var(--buttoncolor);
  margin: 0;
  padding: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 75%;
}

header h3 {
  padding-left: 20px;
  font-size: 2.0rem;
  display: inline;
}
.timer {
  font-size: 2.0rem;
  color: var(--fontblack);
  display: inline;
  text-align: right;
  padding-right: 20px;
}
.container {
  padding: 20px;
  flex-direction: column;
  margin: auto;
  width: 50%;
}
.show{
  display: flex;
}

h1 {
  color: var(--fontblack);
  font-size: 60px;
  font-weight: bolder;
}

p {
  color: var(--fontblack);
  font-size: 2.0rem;
  font-weight: lighter;
}
.btn {
  background: var(--buttoncolor);
  color: var(--hover);
  border-radius: 10px;
  padding: 10px;
  border: none;
  box-shadow: 0 1px gray;
  cursor: pointer;
}

.startquiz {
  margin-top: 15px;
  width: 25%;
}

.btn:hover {
  background: var(--light);
  border-radius: 10px;
  box-shadow: 0 1px gray;
  cursor: pointer;
}

.quizshow {
  align-items: center;
  text-align: center;
}

.quizshow h1, 
.quizshow p {
  text-align: center;

}

#high-scores:hover {
  color: var(--light);
  text-shadow:1px 1px 4px var(--light);
}


